@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+DE+Grund:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('new.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100vw 85vh;
  font-family: "Roboto Mono", cursive;
  font-size: 18px;
  margin: 0;
  overflow-x: hidden;
  background-color: white;
  position: relative;
}

.loading{
  width: 100%;
  min-height: 100vh;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdbaba;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex{
  display: flex;
}

.center{
  align-items: center;
}

.space-between{
  justify-content: space-between;
}

.space-evenly{
  justify-content: space-evenly;
}

.reverse{
  flex-flow: row-reverse;
}

.navbar{
  width: 100%;
  height: 10vh;
  font-weight: 700;
  color: #363636;
}

.grow{
  flex-grow: 1;
}

.text-right{
  text-align: right;
}

.logo{
  padding: 20px 50px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid rgba(36, 45, 96, 0.8);
  font-weight: bold;
  font-size: 24px;
  color: #1a1f38;
  font-family: Montserrat, sans-serif;
}

.links{
  justify-content: flex-start;
  margin-left: 8%;
}

.links div{
  color: #262626;
  cursor:pointer;
  box-sizing: border-box;
  font-weight: 400;
  transition: all 0.3s ease;
  position: relative;
  margin-right: 5vw;

}
.links div::before,
.links div::after {
  content: '';
  opacity: 0;
  color: #7f95be;
  transition: opacity 0.3s ease;
}

.links div::before {
  content: '•';
  position: absolute;
  left: -15px;
  opacity: 0;
}

.links div::after {
  content: '•';
  position: absolute;
  right: -15px;
  opacity: 0;
}

.links div:hover::before,
.links div:hover::after {
  opacity: 1;
}


.button{
  padding: 12px 55px;
  letter-spacing: 0.1em;
  background-color: rgb(54, 54, 54);
  color: #f7f6f3;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #262626;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 400;
}

.button:hover{
  background-color: transparent;
  color: rgb(61, 62, 64);
  border: 1px solid rgba(61, 62, 64, 0.7);
}

.headline {
  font-family: "Montserrat", monospace;
  font-size: 52px; /* Adjust size to match the image */
  font-weight: 800;
  color: #1f243f; /* Orange color */
  margin: 0;
  padding: 0;
}

.subheadline{
  font-size: 18px;
  color: #3d3e41;
}

span{
  font-weight: 1000;
  color: #262626;
}

.header {
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20vh 10%;
  width: 40%;
  min-height: 60vh;
}

.column{
  flex-direction: column;
}

.photos{
  width: 100%;
  justify-content: space-evenly;
}

.photo{
  max-width: 18vw;
}

.photo img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1vh;
  opacity: 0.85;
  transition: all 0.15s ease;
}

.photo img:hover{
  opacity: 1;
}

.about{
  width: 90%;
  margin: 0 auto;
  border-left: 2px solid #363636;
  padding: 10px 30px;
  box-sizing: border-box;
}

.question{
  font-size: 32px; /* Adjust size to match the image */
  font-weight: bold;
  color: #1a1f38; /* Orange color */
  width: 100%;
  margin-bottom: 3vh;
}

.content{
  width: 100%;
  margin: auto;
  text-align: justify;
}

.advantages{
  margin: 10vh auto;
  padding: 30px;
  width: 90%;
}


.adv-title{
  font-size: 32px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  text-align: center;
  margin-bottom: 6vh;
}

.footer{
  background-color: #eae7de;
  padding: 4vh 0;
  justify-content: space-evenly;
  color: #1f243f;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.footer p{
  margin-bottom: 0;
  margin-top: 3px;
}

.footer-title{
  color: #3d3e40;
  margin-bottom: 1vh;
  font-weight: 700;
}

.book{
  width: 60%;
  padding: 25px;
  position: absolute;
  top: 78vh;
  border-radius: 5px;
  margin: 0 calc(20% - 30px);
  overflow-y: visible;
  border: 1px solid rgba(61, 62, 64, 0.5);

}

.glass{
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 16px 0 rgba(182, 182, 185, 0.37);
  backdrop-filter: blur( 14px );
  -webkit-backdrop-filter: blur( 14px );
  border-radius: 10px;
}

.dropdown{
  position: relative;
  padding: 12px 25px;
  min-width: 50%;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid rgba(61, 62, 64, 0.5);
  color: rgba(61, 62, 64, 0.95);
  cursor: pointer;
}
.dropdown:hover{
  border: 1px solid rgba(61, 62, 64, 0.7);
  color: rgb(61, 62, 64);
}

.not-toggled{
  border-radius: 5px;
}

.dropdown-title{
}

.dropdown-options{
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(61, 62, 64, 0.5);
  background: rgba( 255, 255, 255, 0.6);
}

.dropdown-options>div{
  background: rgba(255,255,255,0.7);
  padding: 12px;
  width: inherit;
  box-sizing: border-box;
}

.dropdown-options>div:hover{
  background: rgba(234, 231, 222, 0.4);
}

.dropdown-options>div:last-child{
  border-radius: 0 0 5px 5px;
}

.tickets-overlay{
  width: 80%;
  margin: 10vh auto;
  justify-content: flex-start;
  background-image: url('puppies.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% ;
  border-radius: 20px;
}


.tickets{
  width: 35%;
  height: 75vh;
  margin: 5vh 6vw;
  box-shadow: none;
  border-radius: 40px;
}

.about-overlay{
  width: 65%;
  padding: 40px;
  margin: 10vh auto;
  background-color: rgba(236, 233, 224, 0.3
  );
}

.advantage{
  margin: 20px 0 20px 40px;
  border-left: 1px solid rgba(0, 0, 0, 0.35);
  padding-left: 40px;
}

.adv-container{
  background-color: rgba(189, 207, 245, 0.65);
  width: 60%;
  margin: 2vh;
  padding: 0 2vw;
}

.advantage img{
  padding-right: 30px;
}


.advantage>div:first-child{
  font-weight: 700;
  margin-bottom: 1vh;
}

.footer-logo{
  padding: 20px 50px;
  text-align: left;
  margin: 0 auto;
  border-bottom: 1px solid rgba(36, 45, 96, 0.8);
  font-weight: bold;
  font-size: 24px;
  color: #1a1f38;
  font-family: Montserrat, sans-serif;
  width: 100%;
}




